@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%) no-repeat;
    font-weight: 500;
    color: #fff;
}

/* ----- HEADER ----- */

.header {
    max-width: 1197px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 110px 15px;
}
.header__logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    width: 130px;
    height: 25px;
}
.form {
    position: relative;
}
.form__bottom {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background: url(../images/search.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    top: calc(50% - 10px);
    left: 10px;
}
.form__input {
    width: 384px;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: none;
    padding: 10px 40px;
    color: #fff;
}
.form__input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.form__input:focus {
    outline: none;
}
.header__list {
    display: flex;
    list-style-type: none;
    gap: 40px;
}
.header__link {
    color: #fff;
    text-decoration: none;
}
.header__link__gradient {
    background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
    border-radius: 10px;
    padding: 10px 20px;
}

/* ----- SECTION ----- */

.container {
    max-width: 1197px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main {
    display: flex;
    justify-content: space-between;
}
.main__text {
    flex-basis: 490px;
}
.main__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}
.main__desc {
    font-size: 20px;
    line-height: 1.8;
    color: rgba(255, 255, 255, .5);
}
.main__btn {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, .1);
    padding: 10px 20px;
}
.main__btn_gradient {
    background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
    margin-right: 20px;
}
.main__image {
    flex-basis: calc(100% - 490px - 116px);
}
.main__img {
    width: 100%;
}